<div class="row">
    <div class="col-sm-12">
        <h2>
            <span>{{ issue.title }}</span>
            <small>{{ issue.floorText }}</small>
            <button ng-click="closeIssue()"
                    ng-disabled="$loadings.hasAny() || issue.is_close" class="btn btn-default pull-right"><i class="fa fa-check fa-fw text-success"></i> <span salmon-lang>Close</span></button>
        </h2>
        <div class="clearfix"></div>
        <hr/>
        <h4 ng-repeat="label in issue.labels" class="inline">
            <span class="label label-primary">{{ label.title }}</span>
        </h4>
    </div>

    <div class="col-sm-12" style="padding-top: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-right">
                    <span class="hidden-xs">{{ issue.create_time|date:'yyyy-MM-dd HH:mm' }}</span>
                    <a href="/projects/{{ $projects.current.id }}/issues/{{ issue.id }}/edit" class="btn btn-default btn-sm" style="margin-top: -5px;"><i class="fa fa-pencil fa-fw"></i></a>
                </span>
                <a salmon-mail-to="issue.author.email">{{ issue.author.name }}</a>
            </div>
            <div class="panel-body" style="min-height: 160px;">
                <div salmon-issue-content="issue.content"></div>
                <small class="pull-right visible-xs">{{ issue.create_time|date:'yyyy-MM-dd HH:mm' }}</small>
            </div>
        </div>

        <!-- comments -->
        <div ng-repeat="comment in issue.comments" class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-right">{{ comment.create_time|date:'yyyy-MM-dd HH:mm' }}</span>
                <a salmon-mail-to="issue.author.email">{{ issue.author.name }}</a>
            </div>
            <div class="panel-body">
                <div salmon-issue-content="comment.comment"></div>
            </div>
        </div>

        <!-- add a comment -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <a salmon-mail-to="$user.email">{{ $user.name }}</a>
            </div>
            <div class="panel-body">
                <div class="visible-xs">
                    <div ng-model="comment.newComment" salmon-redactor="{air: true}"
                         style="min-height: 120px;" id="input-content"></div>
                </div>
                <div class="hidden-xs">
                    <div ng-model="comment.newComment" salmon-redactor="{}"
                         style="min-height: 120px;" id="input-content"></div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button ng-disabled="$loadings.hasAny()"
                        ng-click="comment.submit()" class="btn btn-default"><i class="fa fa-check fa-fw text-success"></i> <span salmon-lang>Submit</span></button>
            </div>
        </div>
    </div>
</div>