<div class="row">
    <div class="col-sm-3">
        <!-- keyword -->
        <form>
            <div class="input-group">
                <input salmon-focus ng-model="keyword" type="text" class="form-control"/>
                <span class="input-group-btn">
                    <button ng-click="search($event, keyword)" class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i> <span salmon-lang>Search</span></button>
                </span>
            </div>
        </form>

        <!-- status filter -->
        <div class="btn-group btn-group-justified" style="padding-top: 15px;">
            <div class="btn-group">
                <button ng-class="{active: !$stateParams.status || $stateParams.status=='all'}"
                    ng-click="updateStatusFilter('all')"
                    type="button" class="btn btn-default btn-sm">
                    <strong salmon-lang>All</strong>
                    <span ng-show="count">({{ count.all }})</span>
                </button>
            </div>
            <div class="btn-group">
                <button ng-class="{active: $stateParams.status=='open'}"
                    ng-click="updateStatusFilter('open')"
                    type="button" class="btn btn-default btn-sm">
                    <strong salmon-lang>Open</strong>
                    <span ng-show="count">({{ count.open }})</span>
                </button>
            </div>
            <div class="btn-group">
                <button ng-class="{active: $stateParams.status=='closed'}"
                    ng-click="updateStatusFilter('closed')"
                    type="button" class="btn btn-default btn-sm">
                    <strong salmon-lang>Closed</strong>
                    <span ng-show="count">({{ count.closed }})</span>
                </button>
            </div>
        </div>

        <!-- floor filter -->
        <div class="col-sm-12" style="padding: 15px 0 0 0;">
            <div class="col-sm-2" style="padding: 4px 0;">
                <label salmon-lang for="input-floors">Floor</label>
            </div>
            <div class="col-sm-4" style="padding: 0">
                <select ng-model="floorOptions.lowest"
                        ng-options="option.value as option.label for option in $projects.current.floor_options"
                        id="input-floors" class="form-control input-sm">
                    <option value="">---</option>
                </select>
            </div>
            <div class="col-sm-1" style="padding: 5px 7px;">
                <p class="form-control-static">～</p>
            </div>
            <div class="col-sm-4" style="padding: 0">
                <select ng-model="floorOptions.highest"
                        ng-options="option.value as option.label for option in $projects.current.floor_options"
                        class="form-control input-sm">
                    <option value="">---</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>

        <!-- label filter -->
        <h5><strong salmon-lang>Labels</strong></h5>
        <ul class="nav nav-pills nav-stacked">
            <div ng-show="labelService.manageMode" class="col-sm-12">
                <div ng-repeat="label in labelService.labels" class="input-group">
                    <input ng-model="label.title"
                           salmon-enter="labelService.manageLabels()"
                           class="form-control" type="text"/>
                    <span class="input-group-btn">
                        <button ng-click="labelService.labels.splice($index, 1)"
                                class="btn btn-default" type="button"><i class="fa fa-trash-o fa-fw"></i></button>
                    </span>
                </div>
            </div>
            <li ng-hide="labelService.manageMode"
                ng-repeat="label in $projects.current.labels" ng-class="{active: labelService.isActive(label.id)}">
                <a ng-click="labelService.updateLabelFilter(label.id, $event)" href="#">
                    <span class="badge pull-right">{{ count.labels[label.id] }}</span>
                    {{ label.title }}
                </a>
            </li>
        </ul>
        <button ng-click="labelService.manageLabels()"
                ng-show="$user.isRoot || $projects.current.isRoot"
                ng-class="{active: labelService.manageMode}" class="col-sm-12 btn btn-default btn-sm" style="margin-top: 10px;">
            <strong salmon-lang>Manage labels</strong>
        </button>
        <div class="clearfix"></div>
        <hr/>

        <!-- new label -->
        <div ng-show="$user.isRoot || $projects.current.isRoot" class="form-group">
            <label salmon-lang class="control-label" for="input-new-label">New label</label>
            <input ng-model="labelService.newLabel"
                   validator="[required]"
                   salmon-enter="labelService.addLabel()"
                   ng-disabled="labelService.manageMode"
                   type="text" class="form-control" id="input-new-label">
        </div>
    </div>

    <!-- issues -->
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="checkbox-inline">
                    <input type="checkbox"/> all
                </label>
                <button class="btn btn-default btn-sm" style="margin-left: 10px;">Close</button>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th salmon-lang>Title</th>
                            <th salmon-lang>Floor</th>
                            <th salmon-lang>Author</th>
                            <th salmon-lang class="hidden-xs hidden-sm" width="160px">Create time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!issues.items.length">
                            <td salmon-lang colspan="4" class="text-center text-muted">empty</td>
                        </tr>
                        <tr ng-repeat="issue in issues.items">
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" style="margin: 0 0 0 -20px;"/>
                                </label>
                                <span ng-if="!issue.is_close" class="text-danger"><i class="fa fa-exclamation-circle fa-fw"></i></span>
                                <span ng-if="issue.is_close" class="text-success"><i class="fa fa-check-circle fa-fw"></i></span>
                                <h5 class="inline">
                                    <a href="/projects/{{ $projects.current.id }}/issues/{{ issue.id }}" style="padding: 7px;">
                                        {{ issue.title }}
                                    </a>
                                </h5>
                                <!-- labels -->
                                <span ng-repeat="label in issue.labels" style="line-height: 27px;">
                                    <h5 class="inline">
                                        <span class="label label-primary">{{ label.title }}</span>
                                    </h5>
                                </span>
                            </td>
                            <td>{{ issue.floor }}</td>
                            <td>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ issue.author.email }}" target="_blank">{{ issue.author.name }}</a>
                            </td>
                            <td class="hidden-xs hidden-sm">{{ issue.create_time|date:'yyyy-MM-dd HH:mm' }}</td>
                        </tr>
                    </tbody>
                </table>
                <ul salmon-pager="issues" pager-url-template="/projects/{{ $projects.current.id }}/issues?index=#{index}"
                    class="pull-right" style="margin-top: 0"></ul>
            </div>
        </div>
    </div>
</div>