<!DOCTYPE html>
<html ng-app="salmon">
    {% load filters %}
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title ng-bind="$state.current.resolve.title() + 'Salmon'">Salmon</title>
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <script type="text/javascript" src="/javascript/language/{{ lang_code }}.js"></script>
        {% if debug %}
            <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
            <link type="text/css" rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
            <link type="text/css" rel="stylesheet" href="/bower_components/AlertView/dist/alert_view.css"/>
            <link type="text/css" rel="stylesheet" href="/css/nprogress.css"/>
            <link type="text/css" rel="stylesheet" href="/css/redactor.css"/>
            <link type="text/css" rel="stylesheet" href="/css/site.css"/>

            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script type="text/javascript" src="/bower_components/AlertView/dist/alert_view.js"></script>
            <script type="text/javascript" src="/bower_components/nprogress/nprogress.js"></script>
            <script type="text/javascript" src="/javascript/redactor.js"></script>
            <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
            <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
            <script type="text/javascript" src="/bower_components/angular-validator/dist/angular-validator.js"></script>
            <script type="text/javascript" src="/javascript/app.js"></script>
        {% else %}
            <link type="text/css" rel="stylesheet" href="/css/site.min.css"/>
            <script type="text/javascript" src="/javascript/site.min.js"></script>
        {% endif %}
        {% if lang_code_redactor %}
            <script type="text/javascript" src="/javascript/language/redactor/{{ lang_code_redactor }}.js"></script>
        {% endif %}
        <script type="text/javascript">
            var user = {{ user|json }};
            var url = {{ url|json }};
        </script>
    </head>
<!--
M$ZZZ...$7$OOOOOO+:....,,,,,,,:::,,:~==:,,..:::=7,::::=::::::::~:~+=~::::::,,,,,,,::::OOO87~:::::~~:::::::::::::::,?MMMMMMMMMMMMMMMMMMMMMMMM
M$ZOO~=IO77$8OOO8+:.......,,:::,,:::::::::::~::::=:.~~+:::::::=+======+::::,,,,,,,,,:~:,$O7+~::,,,,,,,,,,~==~::::::,NMMMMMMMMMMMMMMMMMMMMMMM
8$ZO$~~OOOO7ZD8O8=,..........,::::::::,,:=::=::,.,,..,?7I?++I~====.~===~?=.,,,,,,,,~?::,,,:::,,,,,,::::~~~~:::=+:::::MMMMMMMMMMMMMMMMMMMMMMM
ZZOO+~~8OOOZ$$ZO8=.....................:==::,.........,+~======~,,.,..=====++:,,,~~~::,,,,,,,,::==~::::::::::::~~==::MMMMMMMMMMMMMMMMMMMMMMM
ZOZZ$$$IIIII7$$Z8+......................:?:.........,?=======~..~..:..+=======~+?:+::::.,:::~+::::::,,,,,::::::::::,=?MMMMMMMMMMMMMMMMMMMMMM
77777777$$7$$$$$O+.......................=+::,,,:?=~=~,,=~==~...:..,..=~=+==~=======?I~:::?===+,,,,,,,,,,,,,,,,,::::::,=MMMMMMMMMMMMMMMMMMMM
7777777777$$$$$$O?...............::::::I~~~~?:~?~~~:,..:=~:=:.......,.===+==:==========~~=~===~=~,,,,,,,,,,,,,,,,,:::::,MMMMMMMMMMMMMMMMMMMM
777777777$$$$$$$Z7.............::::::=~~=~~=~~~~:.:...~+~:~,~..,....~.==~+=~~=~=============?==~~7$:,,,,,,,,,,,,,,,,,::DMMMMMMMMMMMMMMMMMMMM
=$777777$$$$$Z88DO..........,::::::~::,~~~=~,,,,,=.,.==~~:~=~.......=.~=~~=~~:~~~~~~+~~~~~~=?+~~:=7I7$~~:,,,,,,,,,,,,,~MMMMMMMMMMMMMMMMMMMMM
....=77$O$$$O88O8O?........,::::::=,,=~~=~~,,,,.~..,=~+~~=,~:....,.,=.~~~~~~:.:~~~==+~~~~~~~~=~?~=:III+~I~::,,.,,,,,,~~MMMMMMMMMMMMMMMMMMMMM
$?...=OO7$$Z8OOO8888$...,::::::::,..+~~=~:.....=,..=~~~~::~~,....=.:~.=~~~=~~.~~~~=~+~~~~~~~~?=~?~=:III=~+::::,.,,,,=:~MMMMMMMMMMMMMMMMMMMMM
7777:=.$$$$8O8OOO8$::::::=:::::=...=:~~~......:,..+~~~~~::~~.....=.+~.?=~~+~~.~~~~~~=~~~~~~~~~?~~?~:+?II~~?=,,,,,,+::=~MMMMMMMMMMMMMMMMMMMMM
77$O$...$$$$8O8OZ:,.....:::+:::. ..~::+,.....:?..+~~~=~~,~~~....:+.=~:7=~~$~~.~~~~:~~~~~~=~~~~$~~~?~:~II?~~+=:,,,=:::::NMMMMMMMMMMMMMMMMMMMM
7ZOOOI..=$$8OOZ=:......,::::=~....=::~:.....:=,.=~~~~=~~,~~~...,~=:=~~~+~=I~~,~~~~:~~~~~~+~~~~7+~~~+,=~II~~==~=+.=:::,.,,MMMMMMMMMMMMMMMMMMM
$$ZZ7$$.~OO8O?,........::::~.....:=::+. ...:~+.==~~~~+~~,~~~...~~,+~~~:+:?:~~,~~~,~+:~~~~Z~~~~7I~~~=~=~~?+~~=~~~=~?::,.,,.=MMMMMMMMMMMMMMMMM
MZ$77$O+~~DO:.........,,::+..,..:?::::. ...~:,.+~~~~~=~~~~~~..~~~:=~~+:=~?:?~:~~:~:$~~~~:I?~~=7I~~~~~~~~~I~~~+~~~~~~?~::,,,.MMMMMMMMMMMMMMMM
MM8$ZOO8~~+,...........:=~..,..:?=::+.....~~=.:~~~~~~?~~~~~~.~~~=?:~=::~=:,?~:~~.~=++~~~:II~~+7I~~~~==~~~~?~~,+~~~~~,:=:+:,.:MMMMMMMMMMMMMMM
MMN$ZOOO==.,~========~:::~.:,.:=~=::,....~~~=.?~~~~~~??~~~~~.~~~=~~=::+~=:.?~~~.==?=7?+=?II+~+7??~~~+?~~~~+~~.:=~~~~~~,,~:=:.?MMMMMMMMMMMMMM
MMMMZZOO:.~:::::::::::~~+.::.,?:+~:=.,..:~~~=.+~~~~~~+7:~~~~:~~==~~::.+I,,.?+~:=+~::++~~$???~????~~~~~~~~~~=~:,~$~~~~~~.,:::=:ZMMMMMMMMMMMMM
MMMMZZ8~~::::::::::::::+.,::.=::~:~,~...~~~~=.+~~~~=~?:I~~~~~~=~~~~:..+,::,+:~:+:+,,?+~~$?+?~7+??~~~~~~~~~~~=:..+:=+~~~~,~::::=MMMMMMMMMMMMM
MMN$Z8.~::::::::::::::=..:?.~~::~~=:,..,~~~~:=+~~~~+~I:,=~~~~+~~~:,..7.,,,,+:,+++,,,+~??I?++I?+??~~+~~~~~~~~=:...::::?~~~~:::::~MMMMMMMMMMMM
MO$ZO:::::::::::::::::,.~+::=:::~=.=...~~~~=~~:~~~~?~?:.:~~=~~~++:.::,.,,,,=+$=$ODDDDNNNNZ+?+?++?~+~~~~~~~~~.~.,.~:::::~~~:::::~MMMMMMMMMMMM
$ZZO=:::::::::::::,..:.~+~.+::::?.:,...~~~~7~~==~~==~~:,,~~~~~~+,.....,,,,:~ONDDOZZZ.:8DN~=I=?=+?~~~~~~~~~~~.~.:.~:::::+=::::,MMMMMMMMMMMMMM
$ZO8,::::::::::,...,,~,~:~,~:::~.,+....~~~~7~~~=?~=:~~I~~~=~~~==,......,,,=ZMNOZZZZZ7Z$D8:?==?==?~~~~~~~~~::.+.:.~:::::+~:::MMMMMMMMMMMMMMMM
ZOO:::::::::,,,,,,,,.:~+:~+::::,.==....~~~~?~~~===+:,=::,,:+~~I:.........=~77+$$7$$$$$I8:,=~~=+=?:~~~~~~~:::.=.:.::::~,:IMMMMMMMMMMMMMMMMMMM
OO8I~:,::::,,,,,,,,,,.+::~=:::?.===,...~~~I?=~~+=~+,,,,+:==:=:+~........=.,7:.7I?$77$I?$.,~~~~?=?,~~~~~~,::,.:.,.:DM$7MMMMMMMMMMMMMMMMMMMMMM
OOOOOOO8O888OOO88O88O::::~:::~.=:=,:.:.:~~I??~~7?:~,:7O88DDD8I=?...........,,,.$++++=+7:.=~~~~.~?.~~~~~:.:...~,,=MMM~MMMMMMMMMMMMMMMMMMMMMMM
OOOOOOOOOOOOOO888OOO$:M$::~::?,::+.~.~.,=~I??==+$+?DDD8ZZZZ::D,=+,...........,,.+OZ8NO:~,~~~~~.:I.~~~~~,.:,..~.ZMMMMOMMMMMMMMMMMMMMMMMMMMMMM
OOOOOOOOOOOOOOO88OOO7=MMO=++:~=:::=+.~:.=~????=??Z+ZD,I$$$$$OI$::+=:.........,,,:::,::~,~~~,~~,.I,:~:~:,.,,..78ZMMMMMMMMMMMMMMMMMMMMMMMMMMMM
OOOOOOOO8OZOOO8O8OOO7?DM,:?::~=:=,=,~:~.~~????~+?I$:+N.+7I$7$IZ..............,,,,:::::,=~~~..~=..?,~~~:,.,.~+MM$MMMMMMMMMMMMMMMMMMMMMMMMMMMM
~~=78OZ$$$$88O88OOO88=8?~:::::~:::~,,:~~.I?++?~?I?7Z:,:+.I=?+?D:......,,.....,,,,,,,::I~~~~,...:,.,~O::,.,,:MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
~~~,...~$$$ZO8~~~~~~:~.MI:::::==.:==..~=~=?+++~+?7??Z,,,:=Z8D7,,,...~.,,......,,,,,+~:+~~~~~,....: +M::,,.M+MMMMMMNMMMMMMMMMMMMMMMMMMMMMMMMM
O?$$?.......~IOOOOOOZ7?MMMMMMM8.:+MM=.:+?~?++++=???I?O,,,,,,,,,,,,..,...........,,,,::~~~~~~~~:.....~~,,,,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
777777$Z?,..~ZZZZZZZ$I?MMMMMMM.,IMMMM..==?+?==+~++???+Z:,~,~+:,,,,........~==?,..,,,::=+~I~~~~~~,....,,,,~MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
II777777$$77Z$ZO8Z7$7I?MMMMM8 ,MMMMMM=.~=++?+++~=++???++:,=:,,,,,,....:=::,,,:....,:::II~?+?I~~~~~.....,,,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
NI?III77777IMMMMMMMMMMMMMM$.OMMMMMMMMM.::$===.==~+=+???+=,,,:~,,,,.....::,,~:.....,:$I?++I=+++?M?:,:...I,~7MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM$I?II$7?MMMMMMMMMMMMM+MMMMMMMMMMMM:::Z7~=.,~:+~=+=I=7,,,,,,,,................,:+,7=+==+===NMM7?,,..M7,MDMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMNMMMMMMMMMMMNMMMMMMMMMMMMMM8,,DM:::..~:+=M:~~=I?=:,,,,..............,.$,,,+I=?==~D:MMMMMD,.:MM:MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN,,MM?+:...,:=MMM8$=~~I?~,,..............$:,,,,~M+=+~~MM8MMMMM,,MMMDMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM8:OMMN,M$.....,DMM$MM~:::,+MMM++?+...,:8,,,,,,,.MDMM:$MMMMMMM7MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM=?MMMM:MMMMDI~:..,IMMMN,::,DMMMM=:MD~:,,,,,,,,..MMMM+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO~MMMMMMMMMMMMMMMMMZ=MMMMN,.MMMMMMOM7,,,,,,,,,...NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM$NMMMMMNMMMMMMMMMM~.,=MMMMMM,MMMMMNMD,,,,,,,,,....:NMD8MMMMMMMMMMM~..MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNMNMMMMMMMMMMMMM8?:,:....=.MMMMMZDI..,,.:,,,,,,,,......~,....,IMMMNZ$..,.OMMD8MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM7.......~..,:OZZZ:,+.....,,,=,,,,,,.....,~..........7I77=,..:....,,ZMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM~........=~~,$OOOZ.,......,,.,:,,,......,,...........,7ZZZ...,......,:NMMMMMMMMMMMMMMMMMMMMMMMMM
-->
<body>
    <div ui-view></div>
</body>
</html>
