<nav ng-controller="NavigationController" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Salmon</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="$user.isLogin && $allProjects.items.length" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ $allProjects.current.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="project in $allProjects.items">
                            <a href="/projects/{{ project.id }}/issues">{{ project.title }}</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="$user.isLogin && $allProjects.items.length"
                    ng-class="{active: $state.current.name.indexOf('salmon.issues-new')==0}">
                    <a href="/projects/{{ $allProjects.current.id }}/issues/new"><i class="fa fa-plus fa-fw"></i> <span salmon-lang>New Issue</span></a>
                </li>
                <li ng-if="$user.isLogin && $allProjects.items.length"
                    ng-class="{active: $state.current.name.indexOf('salmon.issues')==0 && $state.current.name!='salmon.issues-new'}">
                    <a salmon-lang href="/projects/{{ $allProjects.current.id }}/issues">Issues</a>
                </li>
                <li ng-if="$user.isLogin" ng-class="{active: $state.current.name.indexOf('salmon.settings')==0}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span salmon-lang>Settings</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{active: $state.current.name.indexOf('salmon.settings-profile')==0}">
                            <a salmon-lang href="/settings/profile">Profile</a>
                        </li>
                        <li ng-class="{active: $state.current.name.indexOf('salmon.settings-projects')==0}">
                            <a salmon-lang href="/settings/projects">Projects</a>
                        </li>
                        <li ng-if="$user.isRoot" ng-class="{active: $state.current.name.indexOf('salmon.settings-users')==0}">
                            <a salmon-lang href="/settings/users">Users</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="!$user.isLogin">
                    <a href="{{url.login}}" salmon-lang target="_self">Sign in</a>
                </li>
                <li ng-if="$user.isLogin">
                    <a href="{{url.logout}}" salmon-lang target="_self">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view class="container-fluid salmon-content"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 footer">
            <p class="text-center text-muted">
                &copy; 2014 <a href="https://github.com/kelp404" target="_blank" title="Kelp on GitHub">Kelp</a>.
            </p>
        </div>
    </div>
</div>
<div salmon-confirm="$confirmModal"></div>