@charset "UTF-8";
/* line 4, ../sass/site/site.sass */
body {
  font-family: "ヒラギノ角ゴ ProN", "Helvetica Neue", Helvetica, "微軟正黑體", Arial, sans-serif;
}

/* line 7, ../sass/site/site.sass */
.salmon-content {
  padding-top: 60px;
}

/* line 10, ../sass/site/site.sass */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 15, ../sass/site/site.sass */
ul.nav-pills > li.active > a {
  background-color: #eeeeee;
  color: #2a6496;
}
/* line 18, ../sass/site/site.sass */
ul.nav-pills > li.active > a:hover {
  background-color: #eeeeee;
  color: #2a6496;
}

/* line 22, ../sass/site/site.sass */
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* line 26, ../sass/site/site.sass */
table {
  word-wrap: break-word;
}

/* line 30, ../sass/site/site.sass */
ul.label-select > li.active > a {
  background-color: #d0d0d0;
}
/* line 32, ../sass/site/site.sass */
ul.label-select > li.active > a:hover {
  background-color: #d0d0d0;
}

/* line 35, ../sass/site/site.sass */
.inline {
  display: inline;
}
